<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link href="appGuitar.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<center><h2 style="color:aqua;"><b>Welcome to my Guitar Center !!!</b></h2></center><br>
	 <center>
	 <div class="w3-content" style="width:460px; height: 170px; border-radius: 10px; border: 5px solid yellow; border-style: outset;">
	 <img src="images/{{abc}}" style="width:450px; height:160px;"> <br></center><br>
	</div>
	<center>
	<button class="button" style="width:100px; height:40px;" ng-click="changePic(-1)">Previous</button>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="button" style="width:100px; height:40px;" ng-click="changePic(1)">Next</button> 
	</center><br>
	<center>
		<button type="button" class="btn btn-primary btn-lg" ng-click="prod_info()"> + Product Info </button> <br>
		<!-- Bootstrap button class -->
		<div ng-show="prod" style="width:700px; color:white; border-style: ridge;">{{guitar_data[ind].product_description}}</div><br>
		
		<button type="button" class="btn btn-primary btn-lg" ng-click="ship_info()"> + Shipping Info </button> <br>
		<div ng-show="ship" style="width:200px; color:white;border-style: ridge;">{{guitar_data[ind].shipping_details}}</div><br>
		
		<button type="button" class="btn btn-primary btn-lg" ng-click="cust_review()"> + Cust. Reviews </button><br>
		<div ng-show="cust_rev" style="width:700px; color:white;border-style: ridge;">{{guitar_data[ind].customer_reviews}}</div><br>
	</center>
	<button type="button" class="btn btn-success btn-lg" style="float:right; margin-right:150px;" ng-click="get_buy()">  Buy</button>

</body>
</html>


